<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-form navbar-left">
      <div class="form-group">
        <span class="glyphicon glyphicon-home"></span>
      </div>
      <div class="text">Second Home</div>
    </div>
    <div class="navbar-form navbar-right">
      <div>
        <a class="signin" href="#popup1">Sign In</a>
        <a class="login" href="#popup1">Log in</a>



        <!-- <--------modal-------------> 
        <div id="popup1" class="overlay">
          <div class="popup">
            <h2>Here i am</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
              Hi Abhishek Bhowmick
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
</nav>